body{
    margin: 0;
    background: linear-gradient(to left bottom,rgb(75, 182, 218),rgb(228, 119, 136),rgb(50, 202, 253));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.container{
    background-color: rgba(255,255,255,.1);
    padding: 20px;
    box-shadow: 0 6px 10px rgba(0,0,0,.3);
    border-radius: 15px;
    width: 85%;
    text-align: center;
    color: darkblue;

}

.heading{
    font-size: 35px;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 5px 5px 2px rgba(0,0,0,.3);
    letter-spacing: 2px;
}
.joke{
    font-size: 25px;
    font-weight: 500;
    margin: 40px;
}
.btn{
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(255,255,255,.1);
    border-color: rgba(255,255,255,.6);
    text-transform: uppercase;
    width: 300px;
    color: darkblue;
}
.btn:hover{
    background-color: rgba(255,255,255,.5);
    box-sizing: 0 4px 4px rgba(0,0,0,.5);
    transform: all 300ms ease;
}